@layer core, app;

body {
  font-family: "Open Sans", sans-serif;
  --statusBarHeight: 25px;
}

body.peacefulMode {
  --color-text-10: #b7b7b7;
  --color-text-8: #b7b7b7;
  --text-Positive: #b7b7b7 !important;
  --text-Negative: #b7b7b7 !important;
}

body.peacefulMode .text-Positive,
body.peacefulMode .text-Negative,
body.peacefulMode .text-red,
body.peacefulMode .text-green,
body.peacefulMode #totalCharges {
  color: #b7b7b7 !important;
  color: #b7b7b7 !important;
}

body.kBroker {
  --statusBarHeight: 1.75em;
  --buyColor: #004eec;
  
  --sellColor: #eb2142;
  --buyLightColor: #4987ee;
  --sellLightColor: #e25f5b;
}

body.zBroker * {
  
}

body.enabledTiledWindow {
  overflow: hidden !important;
}


.enabledTiledWindow {

  .tags,
  .weekly,
  .exchange,
  .download {
    display: none !important;
  }
}

.container-right .weekly {
  display: none !important;
}

.neoDisabled {
  display: none !important;
}


.neoOnly:not(.kotakRoot .neoOnly) {
  display: none;
}

.numberOrdinal {
  font-size: 0.75em;
  vertical-align: top;
}

[data-balloon]:hover:after,
[data-balloon]:hover:before,
[data-balloon][data-balloon-visible]:after,
[data-balloon][data-balloon-visible]:before {
  z-index: 500;
  -webkit-transition-delay: 0.9s !important;
  transition-delay: 0.9s !important;
}

.tabContent a:hover {
  cursor: pointer !important;
}

.lockSpan:hover {
  cursor: pointer !important;
}

.exchange {
  margin-left: 0.5em;
  color: #6e6e6e;
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.custom-radio:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  
}

.hoverBtn:hover {
  cursor: pointer;
  opacity: 0.75;
  
  
  
  transform-origin: center;
}


.order-window {
  transform-origin: bottom left;
}

.order-window .exchange {
  display: inline-block !important;
}

.order-window .margins {
  margin-top: 3px !important;
}

.variety-quick #premiumBlock {
  margin-top: -7px !important;
}

#premiumSpan {
  color: #4987ee;
  margin-left: 3px;
}

#premiumBlock {
  min-width: 150px;
}

.kitePlusDefaultTextColor {
  color: #a0a0a0;
}

[data-theme="default"] .kitePlusDefaultTextColor {
  color: #3e3e3e;
}

.kitePlusCenterAlign {
  text-align: center;
}

.kitePlusRightAlign {
  text-align: right;
}

.displayHidden {
  display: none !important;
}

.dynamicNumber {
  min-width: 6ch;
}

.sliderF .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #636363;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sliderF .slider::before {
  position: absolute;
  content: "";
  background-color: #252525;
  -webkit-transition: 0.1;
  transition: 0.1s;
}

.zBroker .sliderF .slider::before {
  height: 0.81rem;
  width: 0.81rem;
  left: 0.125rem;
  bottom: 0.125rem;
}

.kBroker .sliderF .slider::before {
  height: 0.9257em;
  width: 0.9257em;
  left: 0.142em;
  bottom: 0.142em;
}

[data-theme="default"] .sliderF .slider::before {
  background-color: #ffffff;
}

.sliderF .switch {
  transform-origin: center;
  position: relative;
  display: inline-block;
}

.zBroker .sliderF .switch {
  width: 1.875rem;
  height: 1.0625rem;
  margin: -0.1875rem 0px;
}

.kBroker .sliderF .switch {
  width: 2.142em;
  height: 1.214em;
  margin: -0.214em 0px;
}


.sliderF .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.sliderF .slider.round {
  border-radius: 34px;
}

.sliderF .slider.round::before {
  border-radius: 50%;
}

[data-theme="default"] .sliderF .slider {
  background-color: #9b9b9b;
}

.sliderF input:checked+.slider {
  background-color: #2196f3;
}

.zBroker .sliderF input:checked+.slider:before {
  -webkit-transform: translateX(0.81rem);
  -ms-transform: translateX(0.81rem);
  transform: translateX(0.81rem);
}

.kBroker .sliderF input:checked+.slider:before {
  -webkit-transform: translateX(0.95em);
  -ms-transform: translateX(0.95em);
  transform: translateX(0.95em);
}

.window-content {
  cursor: move;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}


.kt-tooltip {
  text-align: center;
  position: absolute;
  background-color: #333;
  color: rgb(215, 215, 215);
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  word-wrap: break-word;
  z-index: 9999;
  pointer-events: none;
  max-width: 300px;
}

.zBroker .kt-tooltip {
  padding: 4px 5px;
  font-weight: bold;
  border: 2px solid #181818;
  font-size: 12px;
}

.kBroker .kt-tooltip {
  padding: 0.5em;
  font-weight: 600;
  border: 2px solid #454545;
  font-size: 0.9em;
}





.kt-tooltip::after {
  content: "";
  position: absolute;
  border-style: solid;
  
  display: block;

  border-width: 6px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}



.toolTipSpan {
  color: #4987ee;
}

.loadingSpinner {
  
  
  
  
  position: relative;
  z-index: 19 !important;
  animation: loading-bar-spinner 600ms linear infinite;
  scale: 0.65;
}

.loadingSpinner .spinner-icon {
  width: 20px;
  height: 20px;
  border: solid 3px transparent;
  border-top-color: #00c8b1 !important;
  border-left-color: #00c8b1 !important;
  border-radius: 50%;
}

[data-theme="default"] .loadingSpinner .spinner-icon {
  border-top-color: #007c6e !important;
  border-left-color: #007c6e !important;
}

@keyframes modalWindowFadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalWindowFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




@media screen and (max-width: 1600px) {}


@media screen and (max-width: 1400px) {
  .kBroker .kt-tooltip {
    font-size: 0.75em;
  }
}


@media screen and (max-width: 1200px) {}




@media screen and (max-width: 970px) {}